# Ativar reescrita de URL's 
RewriteEngine On

# Para ler variáveis é necessário iniciar com “%” e colocar o nome entre chaves “{}”

#Se NÃO for um diretorio executar as regras abaixo
RewriteCond %{REQUEST_FILENAME} !-d

#Se NÃO for um arquivo executar as regras abaixo
RewriteCond %{REQUEST_FILENAME} !-f

#Se NÃO for um link simbolico executar as regras abaixo
RewriteCond %{REQUEST_FILENAME} !-l

# RewriteRule -> Verifica o que foi passado na URL usando a REGEX “^(.+)$” e redireciona para a página “index.php“,
# mas esse redirecionamento só sera executado se todas as condições que estão em “RewriteCond” forem satisfeitas.

#L -> Indica que a regra deverá se executada independente da existência de outras regras
#QSA -> Essa flag força o uso das querys strings, sem ela as query strings são descartadas por padrão.
RewriteRule ^(.+)$ index.php?path=$1 [QSA,L]

